.wrapper {
	width: 100%;
	overflow: hidden;
	min-height: 100%;
}

.container {
	box-sizing: content-box;
	max-width: 1140px;
	padding: 0 10px;
	margin: 0 auto;
}
._ibg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.ibg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.user {
	display: flex;
	& > div:not(:last-child) {
		margin-right: 10px;
	}
	.user__icon {
		width: 45px;
		height: 45px;
	}
	.user__data {
		& > div:not(:last-child) {
			margin-bottom: 2px;
		}
		.user__name {
			font-size: 14px;
			line-height: calc(20 / 14 * 100%);
			display: flex;
			align-items: center;
			color: #ffffff;
			opacity: 0.85;
		}
		.user__job {
			font-size: 12px;
			line-height: calc(15 / 12 * 100%);
			color: #ffffff;
			opacity: 0.4;
		}
	}
}

//!!header//
.header {
	width: 100%;
	.header__container {
		.header__top {
			min-height: 50px;
			//padding: 15px;
			min-height: 50px;
			display: grid;
			grid-auto-flow: column;
			grid-template: 1fr / repeat(2, 1fr);
			margin-bottom: 30px;
			@media (max-width: 650px) {
				& {
					grid-template: repeat(2, 1fr) / 1fr;
					row-gap: 10px;
					order: 2;
				}
			}
			.top__leftcolumn {
				display: flex;
				@media (max-width: 650px) {
					& {
						display: grid;
						grid-template: 1fr / repeat(2, 1fr);
					}
				}
				.top__section {
					height: 50px;
					display: flex;
					align-items: center;
					padding-right: 25px;
					border-right: 1px #bcbfc2 solid;
					@media (max-width: 650px) {
						& {
							grid-column: 2/3;
							justify-self: end;
							border-right: 0px #bcbfc2 solid;
							padding-right: 0;
						}
					}
					& > *:not(:last-child) {
						margin-right: 11px;
						@media (max-width: 650px) {
							& {
								margin-left: 11px;
							}
						}
					}
				}
				.sections__icon {
					width: 18px;
					height: 14px;
					@media (max-width: 650px) {
						& {
							order: 2;
						}
					}
					.section__txt {
						font-size: 14px;
						line-height: calc(20 / 14 * 100%);
						color: #262d33;
						@media (max-width: 650px) {
							& {
								order: 1;
								padding-right: 11px;
							}
						}
					}
				}
				.top__search {
					height: 50px;
					display: flex;
					align-items: center;
					padding-left: 25px;
					@media (max-width: 650px) {
						& {
							grid-column: 1/2;
							grid-row: 1/2;
							justify-self: start;
							border-right: 0px #bcbfc2 solid;
							padding-left: 0;
						}
					}
					& > * {
						margin-right: 11px;
					}
					.search__icon {
						width: 18px;
						height: 18px;
					}
					.search__input input {
						font-size: 14px;
						line-height: calc(20 / 14 * 100%);
						color: #939699;
					}
				}
			}
			.top__rightcolumn {
				height: 50px;
				display: grid;
				align-items: center;
				justify-self: end;
				display: flex;
				@media (max-width: 650px) {
					& {
						display: grid;
						grid-template: 1fr/ 1fr 1fr;
						justify-self: auto;
					}
				}
				.top__subscribe {
					padding: 0;
					display: flex;
					align-items: center;
					margin-right: 27px;
					@media (max-width: 650px) {
						& {
							display: grid;
						}
					}

					& > div:not(:last-child) {
						margin-right: 27px;
					}

					.subscribe__image {
						width: 60.07px;
						height: 41px;
					}
					.subscribe__txt {
						.subscribe__title {
							font-size: 14px;
							line-height: calc(20 / 14 * 100%);
							color: #4b5157;
						}
						.subscribe__date {
							line-height: calc(15 / 12 * 100%);
							font-size: 12px;
							color: #939699;
						}
					}
				}
				.top__signin {
					display: flex;
					align-items: center;
					@media (max-width: 650px) {
						& {
							justify-self: end;
						}
					}

					& > * {
						margin-right: 11px;
					}
					.signin__icon {
						width: 20px;
						height: 20px;
						@media (max-width: 650px) {
							& {
								order: 2;
							}
						}
						& img {
							display: block;
						}
					}
					.signin__txt {
						font-size: 14px;
						line-height: calc(20 / 14 * 100%);
						color: #4b5157;
						@media (max-width: 650px) {
							& {
								order: 1;
							}
						}
					}
				}
			}
		}
		.header__sub {
			min-height: 84px;
			display: grid;
			align-items: center;
			grid-template: 1fr / minmax(auto, 470px) minmax(auto, 370px) minmax(auto, 220px) minmax(auto, 80px);
			@media (max-width: 650px) {
				& {
					grid-template: 1fr / minmax(auto, 470px) minmax(auto, 370px) minmax(auto, 300px);
					row-gap: 10px;
					column-gap: 20px;
				}
			}
			.sub__logoblochk {
				display: flex;
				align-items: center;
				@media (max-width: 650px) {
					& {
						grid-row: 2/3;
						grid-column: 1/ 2;
						justify-self: start;
					}
				}
				& > *:not(:last-child) {
					margin-right: 15px;
				}
				.sub__logo {
					width: 100px;
					height: 84px;
				}
				.sub__txt {
					font-size: 14px;
					line-height: calc(20 / 14 * 100%);
					color: #4b5157;
				}
			}
			.sub__title {
				color: #262d33;
				font-size: 60px;
				font-weight: 900;
				justify-self: start;
				@media (max-width: 650px) {
					& {
						grid-column: 1/4;
						justify-self: center;
					}
				}
			}
			.sub__date {
				font-size: 14px;
				line-height: calc(20 / 14 * 100%);
				color: #4b5157;
				@media (max-width: 650px) {
					& {
						grid-row: 2/3;
						grid-column: 2/3;
						justify-self: end;
					}
				}
			}
			.sub__weather {
				display: flex;
				@media (max-width: 650px) {
					& {
						grid-row: 2/3;
						grid-column: 3/4;
						justify-self: end;
					}
				}
				.weather__icon {
					width: 18px;
					height: 18px;
				}
				.weather__temperature {
					font-size: 14px;
					line-height: calc(20 / 14 * 100%);
					color: #4b5157;
				}
			}
		}
	}
}
input:focus {
	border: 1px #4b5157 solid;
	border-radius: 10px;
	padding: 10px 0 10px 0px;
}
//!!main//
.main {
	width: 100%;
	background: #e5e5e5;
}

//!!footer//
.footer {
	background: #fff;
	width: 100%;
	.footer__container {
		display: grid;
		align-items: center;
		border-top: 3px #d9dadb solid;
		padding: 30px 0;
		grid-template: 1fr / 1fr minmax(auto, 80px) minmax(auto, 840px) minmax(auto, 220px) 1fr;
		@media (max-width: 767px) {
			& {
				row-gap: 10px;
				grid-template: 1fr 1fr /15px minmax(auto, 60px) minmax(auto, 1080px) 15px;
			}
		}
		.footer__logo {
			grid-column: 2 / 3;
			@media (max-width: 767px) {
				& {
					grid-row: 1/2;
					grid-column: 2 / 3;
				}
			}
			width: 50px;
			height: 50px;
			background: #4592ff;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			.logo__txt {
				color: #fff;
			}
		}
		.footer__menu {
			padding: 0;
			@media (max-width: 767px) {
				& {
					justify-self: end;
					grid-row: 1/2;
					grid-column: 3 / 4;
				}
			}
			.menu__list {
				display: flex;
				@media (max-width: 767px) {
					& {
						//flex-wrap: wrap;
					}
				}
				.menu__link {
					&:not(:last-child) {
						margin-right: 30px;
						@media (max-width: 767px) {
							& {
								margin-right: 10px;
							}
						}
					}
				}
				.menu__link a {
					color: black;
					font-size: 14px;
					line-height: calc(20 / 14 * 100%);
					@media (max-width: 767px) {
						& {
							font-size: 12px;
						}
					}
				}
			}
		}
		.footer__links {
			@media (max-width: 767px) {
				& {
					justify-content: space-between;
					grid-row: 2/3;
					grid-column: 2/4;
				}
			}
			.links__menu {
				display: flex;
				align-items: center;
				justify-self: end;
				flex-wrap: wrap;
				@media (max-width: 767px) {
					& {
						justify-content: space-between;
					}
				}
				.links__link {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					&:nth-child(1) {
						background: #4267b2;
					}
					&:nth-child(2) {
						background: #1da1f2;
					}
					&:nth-child(3) {
						background: #ff0000;
					}
					&:nth-child(4) {
						background: #262626;
					}
					&:not(:last-child) {
						margin-right: 15px;
					}

					& a {
						width: 18px;
						height: 18px;
					}
				}
			}
		}
	}
}

.sub {
	width: 100%;

	.sub__container {
		padding: 40px 0;
		display: grid;
		border-top: 3px solid #d9dadb;
		grid-template: 1fr /15px minmax(auto, 1000px) minmax(auto, 160px) 15px;

		@media (max-width: 767px) {
			& {
				grid-template: auto auto / 15px 1fr 15px;
				row-gap: 10px;
				padding: 25px 0;
			}
		}
		.sub__txt {
			grid-column: 2/3;
			grid-column: 2/3;
			font-size: 14px;
			line-height: calc(20 / 14 * 100%);
			color: #939699;
		}
		.right {
			grid-column: 3/4;
			justify-self: end;
			@media (max-width: 767px) {
				& {
					justify-self: center;
					grid-row: 2/3;
					grid-column: 2/4;
				}
			}
		}
	}
}
